extends layout.pug 

block content 
    h1= title 
    form(action=`/books/${book.id}/`, method="post")
        if errors 
            h2 Oooops!
            ul.error 
                each error in errors
                    li= error.message 
        p 
            label(for="title") Title
            input(name="title", type="text", id="title", value=`${book.title}`)
        p 
            label(for="author") Author
            input(name="author", type="text", id="author", value=`${book.author}`)
        p 
            label(for="genre") Genre
            input(name="genre", type="text", id="genre", value=`${book.genre}`)
        p 
            label(for="year") Year
            input(name="year", type="number", id="year", value=`${book.year}`)
        p 
            input(type="submit", value="Save")
    include delete-button.pug
    
